* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url("../images/backgroundHome.png") no-repeat center center/cover;
  display: flex;
  align-items: center; 
  padding-left: 10%;
   /* justify-content: left;  */
  /* text-align: center; */
}

.logo img {
  width: 185px;
  margin-left: 15%;
  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 1;
  pointer-events: none;
}

.navbar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* max-width: 1200px; */
  max-width: 100%;
  align-items: center;
}

.menu-toggle {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  margin-right: 5%;
}

#nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.6s ease;
  z-index: 3;
}

#nav-menu.active {
  transform: translateY(0);
}

#nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-menu ul li {
  margin: 10px 0;
}

#nav-menu ul li a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.intro {
  position: relative;
  z-index: 2;
  transition: opacity 0.6s ease, visibility 0.6s ease, display 0.6s ease;
}

#nav-menu.active ~ .intro {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.intro h1 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  /* margin-bottom: 20px; */
  color: #fff;
  /* position: absolute;
  top: 10%;
  left: 20%; */
}

.intro .buttons {
  margin-top: 20px;
}

.intro .look {
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #977739;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .intro .look:hover {
  background-color: #0056b3;
} */

.look {
  margin-left: 450px;
}

.arrow {
  font-size: 20px;
}
/*  end index */
/* start about */
.about-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/about/pexels-anjreyes-465118.jpg") no-repeat center
    center/cover;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}
.about-header h1 {
  color: white;
  font-size: 3em;
  margin: 0;
  line-height: 1.2;
}

.info-section {
  background: #f4f4f4;
  padding: 60px 20px;
  text-align: center;
}

.info-section .container {
  max-width: 800px;
  margin: 0 auto;
}

.section-title {
  font-size: 2.5em;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  color: #8b6e33;
}

.section-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background: black;
  margin: 10px auto 0;
}

.section-text {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
  margin: 20px 0;
}

.line {
  width: 100px;
  height: 3px;
  background: black;
  margin: 20px auto 0;
}

.interactive-section {
  position: relative;
  padding: 50px 0;
  text-align: center;
  background: #f9f9f9;
}
.content {
  position: relative;
  z-index: 2;
}

.cards {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.card {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin: 0 15px;
  transition: background 0.3s, color 0.3s;
}

.Company {
  background-color: #8b6e33;
}

.Mission {
  background-color: black;
}

.text-content {
  display: none;
  margin-top: 20px;
}

.text-content.active {
  display: block;
}

.text-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 16px;
  line-height: 1.5;
}
/* end about */
/* start projects */
.projects {
  margin: auto;
  width: 60%;
  justify-content: space-between;
  padding: 50px 0;
  z-index: 2;
  position: fixed;
}
.project-image {
  display: flex;
}
.project-image .project-item {
  width: 50%;
  background-color: #977839;
}
.project-item {
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.project-image img {
  width: 100%;
}

.project-text h2 {
  text-align: center;
  font-family: "Varela", sans-serif;
  font-weight: 900;
  color: white;
  size: 70px;
  line-height: 70px;
}
.project-video {
  display: flex;
}
.project-video .video-item {
  width: 50%;
}
.video-item {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.project-video video {
  width: 100%;
}
/* end projects */
/* start gallery */
.gallery-header {
  position: relative;
  width: 100%;
  height: 500px;
  background: url("../images/backgallery.jpg") no-repeat center center/cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.background-text {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.background-text h2 {
  font-size: 60px;
  z-index: 3;
}

/* Gallery Section */
.gallery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  width: calc(50%);
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  transition: transform 0.6s ease, opacity 0.6s ease;
}
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #fff;
  transition: background-color 0.6s ease;
}

.text-content h2 {
  margin-bottom: 10px;
}

.text-content p {
  font-size: 18px;
}

.gallery-item:hover img {
  transform: scale(1.1);
  opacity: 0.9;
}

@media (max-width: 768px) {
  .gallery-item {
    width: 100%;
  }
}
/* end gallery */
/* start contact */

.contact-header {
  position: relative;
  height: 400px;
  background: url('../images/backgallery.jpg') no-repeat center center/cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header-text {
  position: absolute;
  top: 50%;
  left: 20%;
  /* position: relative; */
  z-index: 2;
  color: white;
  /* text-align: center; */
  /* padding-top: 150px; */
}

.header-text h1 {
  font-size: 4em;
}

.contact-us {
  margin-top: 50px;
  text-align: center;
  padding: 50px;
  background-color: #F8F7F3;
  background-color: #F8F7F3;

  color: #333;
}

.contact-us h2 {
  font-size: 35px;
  color: #333;
}

.contact-us span {
  font-size: 16px;
  color: black;
}

.contact-us hr {
  width: 50px;
  margin: 20px auto;
  border: 2px solid #333;
}

.contact-container {
  text-align: left;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}

.contact-form,
.contact-info {
  /* text-align: left; */
  width: 40%;
  background-color: transparent;
  padding: 20px;
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  margin: 10px;
}

.contact-form h3,
.contact-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.contact-form button {
  background-color: #d4a254;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #b48842;
}

.contact-details {
  margin-top: 20px;
}

.contact-details p {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.contact-details i {
  margin-right: 10px;
}

.social-media {
  margin-top: 20px;
}

.social-icon {
  font-size: 10px;
  color: #b48842;
  margin: 0 15px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.social-icon:hover {
  color: #0056b3;
  
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #007bff;
  color: white;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {

  .contact-form,
  .contact-info {
      width: 90%;
  }
}
 
/* end contact */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #007bff;
  color: white;
}

footer p {
  margin: 0;
}
